<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{% block title %}Vitajte!{% endblock %}</title>

    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon"/>

    {% block stylesheets %}
    {% stylesheets filter="scssphp" output="css/app.css"
           "assets/scss/bootstrap-sprockets.scss"
           "assets/scss/bootstrap.scss"
           "assets/scss/font-awesome/font-awesome.scss"
           "assets/scss/main.scss"
           "assets/css/*.css"
      %}
    <link href="{{ asset_url }}" rel="stylesheet"/>
    {% endstylesheets %}
    {% endblock %}
  </head>
  <body>
    <!-- Header -->
    {% block header %}
    <div class="bg-header container">
      <a href="/">
        <img alt="logo" src="{{ 'images/su_logo.png' }}"/>
      </a>
    </div>
    {% endblock %}

    <!-- Top Navbar -->
    {% block topnavbar %}{% endblock %}

    <!-- Content -->
    <div class="container bg-content">
      <div class="row">

        <div class="col-md-3 col-lg-2 bg-nav">
          <!-- Sidebar -->
          {% block sidebar %}

          {% endblock %}
        </div>

        <!-- Body -->
        <div class="col-md-9 col-lg-10 bg-body">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% block footer %}
    <div class="bg-footer container">
      <div class="copyright">&copy; 2015 Bielik & Gazdík</div>
    </div>
    {% endblock %}

    <!-- JavasScripts -->
    {% block javascripts %}
    {% javascripts filter="?jsqueeze" output="js/app.js"
          "assets/js/jquery.js"
          "assets/js/bootstrap.js"
          "assets/js/main.js"
      %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}
  </body>
</html>
