{% extends 'base.html.twig' %}

{% block body %}
<h2>Kino Hviezda</h2>
<h3>Adresa</h3>

<address>
<strong>Kino Hviezda</strong><br>
Bozetechova 1/2 <br>
602 00 Brno <br>
</address>


<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ-0linwmUEkcRPbPRkejcpkY&key=AIzaSyDbb5K4VmAcfAVGKCTgYSIXV_m72fHBRwk" allowfullscreen></iframe>
<h2>Kino Svet</h2>
<h3>Adresa</h3>

<address class="">
<strong>Kino Svet</strong><br>
Aungier St <br>
Dublin 2 <br>
</address>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLZkSH54OZ0gRxcSb69bRrmU&key=AIzaSyDbb5K4VmAcfAVGKCTgYSIXV_m72fHBRwk" allowfullscreen></iframe>
{% endblock %}
