{% extends 'main.html.twig' %}

{% block title %}Kiná{% endblock %}

{% block content %}
<h1>Kiná</h1>

{% for cinema in cinemas %}
<h2>Kino {{ cinema.name }}</h2>
<h3>Adresa</h3>

<address>
<strong>Kino {{ cinema.name }}</strong><br>
{{ cinema.address }}
</address>

<hr>
{% endfor %}
{% endblock %}
