{% extends 'base.html.twig' %}

{% block body %}
<h2>23.12.2015</h2>
<table class="table table-striped">
  <tr>
    <td>Kino Svet</td>
    <td>Leviatan</td>
    <td>20:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
    <td>Kino Hviezda</td>
    <td>Mrazik</td>
    <td>18:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
    <td>Kino Svet</td>
    <td>Zelena bunda</td>
    <td>18:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
  <td>Kino Hviezda</td>
  <td>Zelena bunda</td>
  <td>18:30</td>
  <td>100 Kc</td>
</tr>
<tr>
  <td>Kino Svet</td>
  <td>Zelena bunda</td>
  <td>18:30</td>
  <td>100 Kc</td>
</tr>
</table>

<h2>24.12.2015</h2>
<table class="table table-striped">
  <tr>
    <td>Kino Svet</td>
    <td>Leviatan</td>
    <td>20:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
    <td>Kino Hviezda</td>
    <td>Mrazik</td>
    <td>18:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
    <td>Kino Svet</td>
    <td>Máša a medveď</td>
    <td>18:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
  <td>Kino Hviezda</td>
  <td>Zelena bunda</td>
  <td>18:30</td>
  <td>100 Kc</td>
</tr>
<tr>
  <td>Kino Svet</td>
  <td>Zelena bunda</td>
  <td>18:30</td>
  <td>100 Kc</td>
</tr>
</table>

<h2>25.12.2015</h2>
<table class="table table-striped">
  <tr>
    <td>Kino Svet</td>
    <td>Leviatan</td>
    <td>20:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
    <td>Kino Hviezda</td>
    <td>Mrazik</td>
    <td>18:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
    <td>Kino Svet</td>
    <td>Máša a medveď</td>
    <td>18:30</td>
    <td>100 Kc</td>
  </tr>
  <tr>
  <td>Kino Hviezda</td>
  <td>Zelena bunda</td>
  <td>18:30</td>
  <td>100 Kc</td>
</tr>
<tr>
  <td>Kino Svet</td>
  <td>Zelena bunda</td>
  <td>18:30</td>
  <td>100 Kc</td>
</tr>
</table>

{% endblock %}
