{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
<h1 class="page-header">Program</h1>

{% for projections in proj_days %}

<h2>{{ projections[0].s_date }}</h2>
<table class="table table-striped">
{% for projection in projections %}
  <tr>
    <td>{{ projection.s_start }}</td>
    <td>Kino
      {{ projection.getCinemaName }}</td>
    <td>{{ projection.getMovieName }}</td>
  </tr>
{% endfor %}
</table>
{% endfor %}

{% endblock %}
