<ul class="nav nav-sidebar">
  <li {% if active == 'cinemas' %} class="active"{% endif %}>
    <a href="{{ path('cinema-list') }}">Cinemas</a>
  </li>
  <li {% if active == 'projections' %} class="active"{% endif %}>
    <a href="#">Screenings</a>
  </li>
  <li {% if active == 'movies' %} class="active"{% endif %}>
    <a href="{{ path('movie-list') }}">Movies</a>
  </li>
  <li {% if active == 'genres' %} class="active"{% endif %}>
    <a href="#">Genres</a>
  </li>
  <li {% if active == 'price-list' %} class="active"{% endif %}>
    <a href="#">Price List</a>
  </li>
  <li {% if active == 'reservations' %} class="active"{% endif %}>
    <a href="#">Reservations</a>
  </li>
</ul>

{# a manager has been logged in #}
{% if app.user != null and is_granted("ROLE_MANAGER") %}
<ul class="nav nav-sidebar">
  <li {% if active == 'profit' %} class="active"{% endif %}>
    <a href="">Profit</a>
  </li>
</ul>
{% endif %}

<ul class="nav nav-sidebar">
  <li>
    <a href="/logout">Logout</a>
  </li>
</ul>
