{% extends ':User:main.html.twig' %}

{% block title %}Cinemas{% endblock %}

{% block content %}
<h1 class="page-header">Cinemas</h1>

{% for cinema in cinemas %}
<h2>{{ cinema.name }} Cinema</h2>
<h3>Address</h3>

<address>
<strong>{{ cinema.name }} Cinema</strong><br>
{{ cinema.address }}
</address>

<hr>
{% endfor %}
{% endblock %}
