{% extends 'base.html.twig' %}

{% block header %}
  <div class="bg-header container">
    <a href="{{ path('homepage') }}">
      <img alt="logo" src="{{ asset('images/su_logo.png') }}"/>
    </a>
  </div>
{% endblock %}


{% block body %}
  <!-- Content -->
  <div class="container bg-content">
    <div class="row">
      {% if app.user %}
        <div class="pull-right">
          {{ app.user.getName }}  <a href="/logout" class="btn btn-default">Logout</a>
        </div>
      {% else %}
         <a href="/login" class="btn btn-default pull-right" >Login</a>
      {% endif %}

      <div class="col-md-3 col-lg-2 bg-nav">
        {% block navbar %}
          {% include ':User:navbar.html.twig' %}
        {% endblock %}
      </div>

      <!-- Body -->
      <div class="col-md-9 col-lg-10 bg-body">
        {% block content %}


        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
<div class="bg-footer container">
  <div class="copyright">&copy; 2015 Bielik & Gazdík</div>
</div>
{% endblock %}
