{% extends ':Admin:main.html.twig' %}

{% block content %}

<h1 class="page-header">Cashier</h1>

<a href="{{ path('cashier-reservations') }}" class="btn btn-default">
  Sell reservation
</a>
<a href="{{ path('cashier-tickets') }}" class="btn btn-default">
  Sell new ticket
</a>

{% endblock %}
